{% extends '_form.html' %}
{% block form %}
    <div class='panel'>
        <h2>
            Login
        </h2>
    </div>
    <form action='{{ url_for('login') }}' method='post'>
        {{ form.csrf_token }}
        <div class='form-group'>
            <input type='email'
                   class='form-control'
                   id='{{ form.email.id }}'
                   placeholder='{{ form.email.label.text }}'
                   name='{{ form.email.name }}'
                   value='{{ form.email.data or "" }}'>
        </div>
        <div class='form-group'>
            <input type='password'
                   class='form-control'
                   id='{{ form.password.id }}'
                   placeholder='{{ form.password.label.text }}'
                   name='{{ form.password.name }}'>
        </div>
        <div class='checkbox'>
            <label>
                <input type='checkbox'
                       id='{{ form.remember.id }}'
                       name='{{ form.remember.name }}'>
                    Remember me
            </label>
        </div>
        <button type='submit' class='btn btn-warning' value='login'>
            Login
        </button>
        <div>
            <p>
                Need to signup?
                <a href={{ url_for('signup') }}>
                    Signup
                </a>
            </p>
        </div>
    </form>
{% endblock %}
