{% extends '_form.html' %}
{% block form %}
    <div class='panel'>
        <h2>
            Change Password
        </h2>
    </div>
    <form action='{{ url_for('settings') }}' method='post'>
        {{ form.csrf_token }}
        <div class='form-group'>
            <input type='password'
                   class='form-control'
                   id='{{ form.password.id }}'
                   placeholder='{{ form.password.label.text }}'
                   name='{{ form.password.name }}'>
        </div>
        <div class='form-group'>
            <input type='password'
                   class='form-control'
                   id='{{ form.verify.id }}'
                   placeholder='{{ form.verify.label.text }}'
                   name='{{ form.verify.name }}'>
        </div>
        <button type='submit' class='btn btn-warning' value='register'>
            Change Password
        </button>
    </form>
{% endblock %}

