{% extends '_form.html' %}
{% block form %}
    <div class='panel'>
        <h2>
            Signup
        </h2>
    </div>
    <form action='{{ url_for('signup') }}' method='post'>
        {{ form.csrf_token }}
        <div class='form-group'>
            <input type='text'
                   class='form-control'
                   id='{{ form.first_name.id }}'
                   placeholder='{{ form.first_name.label.text }}'
                   name='{{ form.first_name.name }}'
                   value='{{ form.first_name.data or "" }}'>
        </div>
        <div class='form-group'>
            <input type='text'
                   class='form-control'
                   id='{{ form.last_name.id }}'
                   placeholder='{{ form.last_name.label.text }}'
                   name='{{ form.last_name.name }}'
                   value='{{ form.last_name.data or "" }}'>
        </div>
        <div class='form-group'>
            <input type='email'
                   class='form-control'
                   id='{{ form.email.id }}'
                   placeholder='{{ form.email.label.text }}'
                   name='{{ form.email.name }}'
                   value='{{ form.email.data or "" }}'>
        </div>
        <div class='form-group'>
            <input type='password'
                   class='form-control'
                   id='{{ form.password.id }}'
                   placeholder='{{ form.password.label.text }}'
                   name='{{ form.password.name }}'>
        </div>
        <div class='form-group'>
            <input type='password'
                   class='form-control'
                   id='{{ form.verify.id }}'
                   placeholder='{{ form.verify.label.text }}'
                   name='{{ form.verify.name }}'>
        </div>
        <button type='submit' class='btn btn-warning' value='register'>
            Register
        </button>
        <div>
            <p>
                Already have an account?
                <a href={{ url_for('login') }}>
                    Log in
                </a>
            </p>
        </div>
    </form>
{% endblock %}
