a {
    color: #777777;
    font-size: 14px;
}

.form-heading {
    color: #fff;
    font-size: 23px;
}

.form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}

.btn-warning {
    width: 100%;
    height: 50px;
}

.planck-form {
    background: #ffffff none repeat scroll 0 0;
    margin: auto;
    width: auto;
    max-width: 500px;
    padding: 50px 70px 70px 71px;
}
