{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <link rel=stylesheet href='{{ url_for('static', filename='form.css') }}'>
{% endblock %}
{% block content %}
    <div class='container'>
        <div class='text-center planck-form'>
            {% if (form is defined and form.errors.get('csrf_token')) or csrf_error is defined %}
                {% include 'csrf.html' %}
            {% elif form is defined and form.errors %}
                <div class='alert alert-warning' role='alert'>
                    <dl>
                        {% for field_name in form.errors %}
                            {% set field = form[field_name] %}
                            <dt>{{ field.label.text }}</dt>
                            {% for error in field.errors %}
                                <dd>{{ error }}</dd>
                            {% endfor %}
                        {% endfor %}
                    </dl>
                </div>
            {% endif %}
            {% block form %}{% endblock %}
        </div>
    </div>
{% endblock %}
