{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <link rel=stylesheet href='{{ url_for('static', filename='form.css') }}'>
{% endblock %}
{% block content %}
    <div class='container'>
        <div class='text-center planck-form'>
            <div class='alert alert-danger' role='alert'>
                <div class='text-center'>
                    <h1>
                        Bad Request
                    </h1>
                    <h4>
                        The CSRF token could not be verified.
                    </h4>
                </div>
                <br>
                <p class='text-left'>
                    The request could not be understood by the server because it was malformed.
                    Do not repeat the request without modifications.
                </p>
                <br>
                <p class='text-left'>
                    If you believe this is a server error, please contact the administrator.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
