{% extends 'base.html' %}
{% block content %}
    <div class='jumbotron'>
        <div class='container'>
            <div class=row>
                {% for category, tasks in categories %}
                    {% set total = category.tasks|length %}
                    <div class='col-md-3 col-sm-6'>
                        <div class='panel panel-default'>
                            <div class='panel-heading text-center'>
                                {{ category.name }}
                            </div>
                            <ul class='list-group'>
                                <li class='list-group-item'>
                                    <div class='progress'>
                                        {% for status in statuses %}
                                            {% set status_percent = tasks[status.name]|length / total * 100 %}
                                            <div class='progress-bar {{ status.css }} progress-bar-striped'
                                                 style='width: {{ status_percent }}%'>
                                                <span class='sr-only'>
                                                    {{ status_percent }}%
                                                </span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
