<div class='navbar navbar-default'>
    <div class='navbar-header'>
        <button type='button'
                class='navbar-toggle collapsed'
                data-toggle='collapse'
                data-target='#menu-collapse'
                aria-expanded='false'>
            <span class='sr-only'>
                Show navigation
            </span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href='{{ url_for('index') }}'>
            {{ title }}
        </a>
    </div>
    <div class='collapse navbar-collapse' id='menu-collapse'>
        {% if current_user.is_authenticated %}
            <ul class='nav navbar-nav'>
                <li class='active'>
                <li>
                    <a href='{{ url_for('dashboard') }}'>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href='{{ url_for('get_tasks') }}'>
                        Tasks
                    </a>
                </li>
                <li>
                    <a href='/'>
                        Notifications
                        <span class='badge'>
                            {{ current_user.notifications|length }}
                        </span>
                    </a>
                </li>
                <form class='navbar-form navbar-left' role='search'>
                    <div class='form-group'>
                        <input type='text' class='form-control' placeholder='Search'>
                    </div>
                </form>
            </ul>
            <div class='navbar-btn navbar-right pull-right'>
                <button type='button'
                        class='btn btn-success dropdown-toggle'
                        data-toggle='dropdown'
                        aria-haspopup='true'
                        aria-expanded='false'>
                    {{ current_user.fname }} {{ current_user.lname }}
                    <span class='caret'></span>
                </button>
                <ul class='dropdown-menu'>
                    <li>
                        <a href='{{ url_for('settings') }}'>
                            Change Password
                        </a>
                    </li>
                    <li>
                        <a href='{{ url_for('logout') }}'>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class='navbar-btn navbar-right pull-right'>
                <a class='btn btn-primary' href='{{ url_for('signup') }}' role='button'>
                    Signup
                </a>
                <a class='btn btn-success' href='{{ url_for('login') }}' role='button'>
                    Login
                </a>
            </div>
        {% endif %}
    </div>
</div>
